# {{ ansible_managed }}
# Modifications to this file will be destroyed!

driftfile /var/lib/ntp/ntp.drift
logfile /var/log/ntpd.log
statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% for host in groups['ntp_servers'] %}
server {{ host }}
{% endfor %}

restrict -4 default kod notrap nomodify nopeer noquery
restrict 127.0.0.1
restrict ::1
